/* Footer */
footer{
    background-color: #F6F6F6;
    width: 100%;

    .footer-content{
        width: $ancho-s;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2.5em;
        padding: 2.5em 0;

        @media (min-width: 768px) {
            flex-wrap: nowrap;
            gap: 0;
            justify-content: space-evenly;
        }

        @media (min-width: 992px) {
            width: $ancho-l;
        }

        @media (min-width: 1200px) {
            width: $ancho-xl;
        }
        
        &__div{
            width: 100%;

            @media (min-width: 768px) {
                width: 25%;
            }
        }

        &__text{
            padding: 0.3125em 0;
        }

        &__li{
            padding: 0.3125em 0;
        }

        &__link{
                    
            &:hover{
                color: $color-menu-hover;
            }
        }

        &__info{
            width: 100%;
            display: flex;
            align-items: flex-start;
            margin: 0.3125em 0;
        }

        &__info-content{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 0.5em;
            margin-top: 0.5em;
        }

        &__info-text{
            width: 100%;
        }

        &__rrss{
            width: 50%;
            margin-top: 0.625em;
            display: flex;
            justify-content: space-between;

            @media (min-width: 768px) {
                width: 100%;
            }
        }
    }
}
