/* Footer */
footer {
    width: 100%;
    background-color: #F6F6F6;

    .footer-content {
        display: flex;
        flex-wrap: wrap;
        gap: 2.5em;
        justify-content: space-between;
        width: $width-s;
        margin: auto;
        padding: 2.5em 0;

        @media (min-width: 768px) {
            flex-wrap: nowrap;
            gap: 0;
        }

        @media (min-width: 992px) {
            width: $width-l;
        }

        @media (min-width: 1200px) {
            width: $width-xl;
        }

        &__div {
            width: 100%;

            @media (min-width: 768px) {
                padding-right: 2em;
            }
        }

        &__text {
            padding: 0.3125em 0;
        }

        &__li {
            padding: 0.3125em 0;
        }

        &__link {

            &:hover {
                color: $color-menu-hover;
            }
        }

        &__info {
            display: flex;
            align-items: flex-start;
            width: 100%;
            margin: 0.3125em 0;
        }

        &__info-content {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5em;
            width: 100%;
            margin-top: 0.5em;
        }

        &__info-text {
            width: 100%;
        }

        &__rrss {
            display: flex;
            gap: 2em;
            width: 100%;
            margin-top: 0.625em;
        }
    }
}
