/* Body */
.overflow-y{
    overflow-y: hidden;
}

/* Header*/
.header {
    width: 100%;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    box-shadow: 0 0.25em 0.25em $shadow-light;
    
    .header-content {
        display: flex;
        justify-content: center;
        align-items: center;
        
        @media (min-width: 992px) {
            width: $ancho-l;
            margin: auto;
            justify-content: space-between;
        }

        @media (min-width: 1200px) {
            width: $ancho-xl;
        }

        .logo {
            width: 7.5em;
            
            &__main {
                font-family: Voguer Sans;
                font-size: 1.5625em;
                line-height: 1.5625rem;
                text-align: center;
                margin-top: 0.125em;
            }

            &__sub{
                font-family: Inter;
                font-size: 0.5em;
                text-align: center;
                margin-top: 0.125em;
                letter-spacing: 0.5rem;
            }

            &__clip{
                clip-path: polygon(100% 0, 100% 45%, 9% 100%, 0 100%, 0 0);
            }
        }

        .nav-extended {
            display: none;

            @media (min-width: 992px) {
                display: block;
            }

            &__ul {
                display: flex;
                gap: 1.5em;
            }
            
            &__li {
                @media (min-width: 992px) {
                    display: inline;
                }
            }

            &__link{
                @media (min-width: 992px) {
                    font-size: 0.875em;
                    columns: red;
    
                    &:hover {
                        color: $color-menu-hover;
                    }
                }
            }
        }

        .menu-icon {
            display: inline-block;
            position: absolute;
            top: 1.25em;
            left: 8.33%;
            cursor: pointer;

            @media (min-width: 992px) {
                display: none;
            }

            &__bar1, 
            &__bar2, 
            &__bar3 {
                width: 1.875em;
                height: 0.125em;
                background-color: #333;
                margin: 0.375em 0;
                transition: 0.4s;
            }
        }

        .correctPosition {
            left: 10.4125%;
        }

        .nav-menu {
            display: none;
            position: absolute;
            top: -0.9375em;
            left: 6.25em;
            width: 12.5em;
            padding-right: 1.25em;

            &__li{
                padding: 1.25em;
                border-bottom: 0.0625em solid $color-menu-hover;
            }
    
            &__link {
                animation-name: displayLinks;
                animation-duration: 2.5s;
    
                @keyframes displayLinks {
                    from {
                        opacity: 0;
                    }
    
                    to {
                        opacity: 1;
                    }
                }
            }
        }

        .background-dark {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            background-color: $shadow-heavy;
        }

        .change {
            width: 80%;
            height: 100%;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: white;
            box-shadow: 0 0.25em 0.25em $shadow-light;
            overflow: hidden;
            border-right: 1.25em solid white;
            animation-name: displayMenu;
            animation-duration: 1s;

            @keyframes displayMenu {
                from {
                    left: -37.5em;
                }

                to {
                    left: 0;
                }
            }

            .menu-icon{
                animation-name: displayIcon;
                animation-duration: 2.5s;

                @keyframes displayIcon {
                    from {
                        opacity: 0;
                    }

                    to {
                        opacity: 1;
                    }
                }

                &__bar1 {
                    transform: translate(0, 0.5em) rotate(45deg);
                }
    
                &__bar2 {
                    opacity: 0;
                }
    
                &__bar3 {
                    transform: translate(0, -0.5em) rotate(-45deg);
                }
            }

            .nav-menu--open {
                display: block;
            }
        }
    }

    .header--relative {
        position: relative;
    }
    
    .flecha_inicio {
        width: 1.875em;
        position: fixed;
        z-index: 1;
        bottom: 3.125em;
        right: 1.25em;

        @media (min-width: 992px) {
            display: none;
        }
    }
}
