/* Icons */
.location {
    vertical-align: bottom;
    width: 1.875em;
    margin-right: 0.3125em;
    color: $color-location;
}

.phone {
    vertical-align: bottom;
    width: 1.875em;
    margin-right: 0.3125em;
    color: $color-phone;
}

.mail {
    vertical-align: bottom;
    width: 1.875em;
    margin-right: 0.3125em;
    color: $color-form;
}

.clock {
    vertical-align: middle;
    width: 1.875em;
    margin-right: 0.3125em;
    color: $color-clock;
}

/* Social media */
.instagram {
    fill: $color-instagram;
}

.facebook {
    fill: $color-facebook;
}

.twitter {
    fill: $color-twitter;
}
