/*Inicio Contenido*/
.hero {
    position: relative;
    overflow: hidden;
    width: 100%;

    &__img {
        width: 100%;
        min-height: 15.625em;
        object-fit: cover;
        max-height: 31.25em;
        box-shadow: 0em 0.25em 0.25em $shadow-medium;

    }

    &__title {  
        position: absolute;
        top: 1.75rem;
        left: 8.33%;
        font-size: 2.5em;
        font-weight: 300;
        color: white;
        text-shadow: 0.125em 0.25em 0.25em $shadow-heavy;
        animation-name: displayH1;
        animation-duration: 2s;

        @keyframes displayH1 {
            from {
                opacity: 0;
                transform: translateX(5em);
            }

            to {
                opacity: 1;
                transform: translateX(0);
            }
        }

        @media (min-width: 768px) {
            top: 3.25rem;
        }

        @media (min-width: 992px) {
            width: $ancho-l;
            left: calc((100% - $ancho-l) / 2);
        }

        @media (min-width: 1200px) {
            width: $ancho-xl;
            left: calc((100% - $ancho-xl) / 2);
        }
    }

    &__link {
        background: linear-gradient(90deg, #FF0000 0%, #FFBE41 30%, #35EA68 60%, #27D8FF 90%, #FFFFFF 150%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: none;
        filter: drop-shadow(0.125em 0.25em 0.25em $shadow-heavy);
    }
}

// Secciones 
.inicio {
    width: $ancho-s;
    margin: auto;
    text-align: center;

    @media (min-width: 992px) {
        width: $ancho-l;
        text-align: left;
    }

    @media (min-width: 1200px) {
        width: $ancho-xl;
    }

    &__title {
        margin: 2.5em 0;
    }

    // Intro 
    .intro {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;

        :nth-child(even) {
            flex-direction: column-reverse;
        }

        @media (min-width: 768px) {
            :nth-child(even) {
                flex-direction: row;
            }
        }

        &__content {
            display: flex;
            flex-wrap: wrap;

            @media (min-width: 1200px) {
                justify-content: space-between;
            }
        }

        &__img {
            width: 90%;
            margin: auto;

            @media (min-width: 768px) {
                width: 58.33%;
            }

            @media (min-width: 992px) {
                width: 50%;
            }

            @media (min-width: 1200px) {
                width: 40%;
            }
        }

        &__content-information {
            width: 100%;
            margin: auto 0;

            @media (min-width: 768px) {
                width: 41.66%;
            }

            @media (min-width: 992px) {
                width: 50%;
            }
        }

        &__content-information__title {
            padding: 1.25em 0;
        }

        &__content-information__text {
            padding-bottom: 1.875em;
        }

        .revealIntro {
            position: relative;
            opacity: 0;
            transition: all 1s ease;
        }

        .revealIntro--left {
            transform: translateX(5em);
        }

        .revealIntro--right {
            transform: translateX(-5em);
        }
    
        .revealIntro--active {
            transform: translateX(0);
            opacity: 1;
        }
    }

    // Garantía 
    .garantia {
        text-align: center;

        &__title {
            padding: 1.25em 0;
        }

        &__content {
            display: flex;
            flex-wrap: wrap;

            @media (min-width: 768px) {
                justify-content: space-between;

                :nth-child(3) {
                    margin: auto;
                }
            }

            @media (min-width: 992px) {
                :nth-child(3) {
                    margin: 0;
                }
            }
        }

        &__metal {
            width: 100%;
            padding: 2% 0;

            @media (min-width: 768px) {
                width: 49%;
                padding: 1% 0;
            }

            @media (min-width: 992px) {
                width: 32%;
            }
        }

        &__metal__img {
            width: 83.33%;
            box-shadow: 0 0.25em 0.25em $shadow-medium;

            @media (min-width: 768px) {
                width: 100%;
            }
        }

        &__metal__nombre {
            font-weight: bold;
            padding-top: 3%;
        }

        &__text {
            width: 83.33%;
            margin: auto;
            padding-top: 3%;

            @media (min-width: 768px) {
                width: 50%;
                padding: 2%;
            }
        }
    }

    // Trabajos recientes 
    .trabajos-recientes {

        &__title {
            text-align: center;
            padding: 1.25em 0;
        }

        &__content {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 1em;

            @media (min-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (min-width: 1200px) {
                grid-template-columns: repeat(3, 1fr);
            }
        }

        &__img {
            width: 100%;

            @media (min-width: 992px) {
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    filter: brightness(70%);
                }
            }
        }

        &__openImg {
            display: block;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.7);

            @keyframes zoom {
                from {
                    transform: translate(-50%, -50%) scale(0)
                }

                to {
                    transform: translate(-50%, -50%) scale(1)
                }
            }
        }

        &__close-img {
            cursor: pointer;
            color: white;
            position: absolute;
            top: 1.5625em;
            right: 1.875em;
            width: 2.1875em;

            &:hover {
                color: $color-menu-hover;
            }
        }

        &__extended-img {
            width: 50%;
            cursor: auto;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation-name: zoom;
            animation-duration: 0.5s;

            &:hover {
                filter: none;
            }

            @media (min-width: 1200px) {
                width: 33%;
            }
        }
    }
}

// Banner 
.banner-help {
    width: 100%;
    margin-top: 0.875em;
    position: relative;
    text-align: center;
    height: fit-content;
    overflow-y: hidden;

    &__img {
        width: 100%;
        object-fit: cover;
        object-position: top center;
        max-height: 21.875em;
        vertical-align: bottom;
    }

    &__content {
        width: $ancho-s;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
        text-align: center;
        color: white;
        text-shadow: 0 0.25em 0.25em $shadow-medium;

        @media (min-width: 768px) {
            width: 66.66%;
        }

        @media (min-width: 992px) {
            width: $ancho-l;
        }
    }

    &__title {
        font-size: 1.5em;
        font-weight: 300;

        @media (min-width: 992px) {
            width: 66.66%;
            margin: auto;
        }
    }

    &__icon {
        width: 3.75rem;
        color: white;
        vertical-align: middle;
        margin-right: 0.3125em;
    }

    &__text {
        padding: 0.625em 0;

        @media (min-width: 992px) {
            width: 66.66%;
            margin: auto;
        }
    }

    &__email {
        color: white;
    }
}
