
/* Generales */
@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: Inter;
    font-size: 100%;
    overflow-y: auto;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}

h3{
    font-family: Cinzel;
}

form , input, textarea, select , button , label{
    font-family: inherit;
    font-size: inherit;
}
