/* Reset */
@media (prefers-reduced-motion: reduce) {
    * {
        transition: none !important;
        animation: none !important;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-y: auto;
    font-size: 100%;
    font-family: Inter;
}

img {
    max-width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
}

h3 {
    font-family: Cinzel;
}

form,
input,
textarea,
select,
button,
label {
    font-size: inherit;
    font-family: inherit;
}
