/* Colors */
$color-form: #FFBE41;
$color-form-border: #F6F6F6;
$color-location: #EA4335;
$color-phone: #35EA68;
$color-clock: #35A9EA;
$color-menu-hover: #85888C;
$color-instagram: url(#lgInstagram);
$color-facebook: #475993;
$color-twitter: #03a9f4;
/* $color-whatsapp: #03c100; */

/* Shadows */
$shadow-light: rgba(0, 0, 0, 0.1);
$shadow-medium: rgba(0, 0, 0, 0.25);
$shadow-heavy: rgba(0, 0, 0, 0.4);

/* Content width */
$width-s: 83.34%;
/* width-m is the same as width-s */
$width-l: 79.8%;
$width-xl: 65.8%;
