// Colores
$color-formulario: #FFBE41;
$color-borde-formulario: #F6F6F6;
$color-location: #EA4335;
$color-phone: #35EA68;
$color-clock: #35A9EA;
$color-menu-hover: #85888C;
$color-instagram: url(#lgInstagram);
$color-facebook: #475993;
$color-twitter: #03a9f4;
$color-whatsapp: #03c100;

// Sombras
$shadow-light: rgba(0, 0, 0, 0.1);
$shadow-medium: rgba(0, 0, 0, 0.25);
$shadow-heavy: rgba(0, 0, 0, 0.4);

//Anchos del contenido
$ancho-s: 83.34%;
// Ancho-m es igual que ancho-s
$ancho-l: 79.8%;
$ancho-xl: 65.8%;