@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@font-face {
  font-family: "Voguer Sans";
  src: local("Voguer Sans Bold"), local("Voguer-Sans-Bold"), url("./fonts/VoguerSans-Bold.woff2") format("woff2"), url("./fonts/VoguerSans-Bold.woff") format("woff"), url("./fonts/VoguerSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/* Generales */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    transition: none !important;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter;
  font-size: 100%;
  overflow-y: auto;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

h3 {
  font-family: Cinzel;
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
}

/* Iconos generales */
.location {
  width: 1.875em;
  color: #EA4335;
  vertical-align: bottom;
  margin-right: 0.3125em;
}

.phone {
  width: 1.875em;
  color: #35EA68;
  vertical-align: bottom;
  margin-right: 0.3125em;
}

.mail {
  width: 1.875em;
  color: #FFBE41;
  vertical-align: bottom;
  margin-right: 0.3125em;
}

.clock {
  width: 1.875em;
  color: #35A9EA;
  vertical-align: middle;
  margin-right: 0.3125em;
}

/* Iconos rrss */
.instagram {
  fill: url(#lgInstagram);
}

.facebook {
  fill: #475993;
}

.twitter {
  fill: #03a9f4;
}

/* Body */
.overflow-y {
  overflow-y: hidden;
}

/* Header*/
.header {
  width: 100%;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.1);
}
.header .header-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 992px) {
  .header .header-content {
    width: 79.8%;
    margin: auto;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .header .header-content {
    width: 65.8%;
  }
}
.header .header-content .logo {
  width: 7.5em;
}
.header .header-content .logo__main {
  font-family: Voguer Sans;
  font-size: 1.5625em;
  line-height: 1.5625rem;
  text-align: center;
  margin-top: 0.125em;
}
.header .header-content .logo__sub {
  font-family: Inter;
  font-size: 0.5em;
  text-align: center;
  margin-top: 0.125em;
  letter-spacing: 0.5rem;
}
.header .header-content .logo__clip {
  -webkit-clip-path: polygon(100% 0, 100% 45%, 9% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 45%, 9% 100%, 0 100%, 0 0);
}
.header .header-content .nav-extended {
  display: none;
}
@media (min-width: 992px) {
  .header .header-content .nav-extended {
    display: block;
  }
}
.header .header-content .nav-extended__ul {
  display: flex;
  gap: 1.5em;
}
@media (min-width: 992px) {
  .header .header-content .nav-extended__li {
    display: inline;
  }
}
@media (min-width: 992px) {
  .header .header-content .nav-extended__link {
    font-size: 0.875em;
    -moz-columns: red;
         columns: red;
  }
  .header .header-content .nav-extended__link:hover {
    color: #85888C;
  }
}
.header .header-content .menu-icon {
  display: inline-block;
  position: absolute;
  top: 1.25em;
  left: 8.33%;
  cursor: pointer;
}
@media (min-width: 992px) {
  .header .header-content .menu-icon {
    display: none;
  }
}
.header .header-content .menu-icon__bar1, .header .header-content .menu-icon__bar2, .header .header-content .menu-icon__bar3 {
  width: 1.875em;
  height: 0.125em;
  background-color: #333;
  margin: 0.375em 0;
  transition: 0.4s;
}
.header .header-content .correctPosition {
  left: 10.4125%;
}
.header .header-content .nav-menu {
  display: none;
  position: absolute;
  top: -0.9375em;
  left: 6.25em;
  width: 12.5em;
  padding-right: 1.25em;
}
.header .header-content .nav-menu__li {
  padding: 1.25em;
  border-bottom: 0.0625em solid #85888C;
}
.header .header-content .nav-menu__link {
  -webkit-animation-name: displayLinks;
          animation-name: displayLinks;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}
@-webkit-keyframes displayLinks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes displayLinks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header .header-content .background-dark {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.header .header-content .change {
  width: 80%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-right: 1.25em solid white;
  -webkit-animation-name: displayMenu;
          animation-name: displayMenu;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
@-webkit-keyframes displayMenu {
  from {
    left: -37.5em;
  }
  to {
    left: 0;
  }
}
@keyframes displayMenu {
  from {
    left: -37.5em;
  }
  to {
    left: 0;
  }
}
.header .header-content .change .menu-icon {
  -webkit-animation-name: displayIcon;
          animation-name: displayIcon;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}
@-webkit-keyframes displayIcon {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes displayIcon {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header .header-content .change .menu-icon__bar1 {
  transform: translate(0, 0.5em) rotate(45deg);
}
.header .header-content .change .menu-icon__bar2 {
  opacity: 0;
}
.header .header-content .change .menu-icon__bar3 {
  transform: translate(0, -0.5em) rotate(-45deg);
}
.header .header-content .change .nav-menu--open {
  display: block;
}
.header .header--relative {
  position: relative;
}
.header .flecha_inicio {
  width: 1.875em;
  position: fixed;
  z-index: 1;
  bottom: 3.125em;
  right: 1.25em;
}
@media (min-width: 992px) {
  .header .flecha_inicio {
    display: none;
  }
}

/* Footer */
footer {
  background-color: #F6F6F6;
  width: 100%;
}
footer .footer-content {
  width: 83.34%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2.5em;
  padding: 2.5em 0;
}
@media (min-width: 768px) {
  footer .footer-content {
    flex-wrap: nowrap;
    gap: 0;
    justify-content: space-evenly;
  }
}
@media (min-width: 992px) {
  footer .footer-content {
    width: 79.8%;
  }
}
@media (min-width: 1200px) {
  footer .footer-content {
    width: 65.8%;
  }
}
footer .footer-content__div {
  width: 100%;
}
@media (min-width: 768px) {
  footer .footer-content__div {
    width: 25%;
  }
}
footer .footer-content__text {
  padding: 0.3125em 0;
}
footer .footer-content__li {
  padding: 0.3125em 0;
}
footer .footer-content__link:hover {
  color: #85888C;
}
footer .footer-content__info {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin: 0.3125em 0;
}
footer .footer-content__info-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-top: 0.5em;
}
footer .footer-content__info-text {
  width: 100%;
}
footer .footer-content__rrss {
  width: 50%;
  margin-top: 0.625em;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  footer .footer-content__rrss {
    width: 100%;
  }
}

/*Inicio Contenido*/
.hero {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.hero__img {
  width: 100%;
  min-height: 15.625em;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 31.25em;
  box-shadow: 0em 0.25em 0.25em rgba(0, 0, 0, 0.25);
}
.hero__title {
  position: absolute;
  top: 1.75rem;
  left: 8.33%;
  font-size: 2.5em;
  font-weight: 300;
  color: white;
  text-shadow: 0.125em 0.25em 0.25em rgba(0, 0, 0, 0.4);
  -webkit-animation-name: displayH1;
          animation-name: displayH1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
@-webkit-keyframes displayH1 {
  from {
    opacity: 0;
    transform: translateX(5em);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes displayH1 {
  from {
    opacity: 0;
    transform: translateX(5em);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@media (min-width: 768px) {
  .hero__title {
    top: 3.25rem;
  }
}
@media (min-width: 992px) {
  .hero__title {
    width: 79.8%;
    left: 10.1%;
  }
}
@media (min-width: 1200px) {
  .hero__title {
    width: 65.8%;
    left: 17.1%;
  }
}
.hero__link {
  background: linear-gradient(90deg, #FF0000 0%, #FFBE41 30%, #35EA68 60%, #27D8FF 90%, #FFFFFF 150%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
  filter: drop-shadow(0.125em 0.25em 0.25em rgba(0, 0, 0, 0.4));
}

.inicio {
  width: 83.34%;
  margin: auto;
  text-align: center;
}
@media (min-width: 992px) {
  .inicio {
    width: 79.8%;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .inicio {
    width: 65.8%;
  }
}
.inicio__title {
  margin: 2.5em 0;
}
.inicio .intro {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.inicio .intro :nth-child(even) {
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  .inicio .intro :nth-child(even) {
    flex-direction: row;
  }
}
.inicio .intro__content {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .inicio .intro__content {
    justify-content: space-between;
  }
}
.inicio .intro__img {
  width: 90%;
  margin: auto;
}
@media (min-width: 768px) {
  .inicio .intro__img {
    width: 58.33%;
  }
}
@media (min-width: 992px) {
  .inicio .intro__img {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .inicio .intro__img {
    width: 40%;
  }
}
.inicio .intro__content-information {
  width: 100%;
  margin: auto 0;
}
@media (min-width: 768px) {
  .inicio .intro__content-information {
    width: 41.66%;
  }
}
@media (min-width: 992px) {
  .inicio .intro__content-information {
    width: 50%;
  }
}
.inicio .intro__content-information__title {
  padding: 1.25em 0;
}
.inicio .intro__content-information__text {
  padding-bottom: 1.875em;
}
.inicio .intro .revealIntro {
  position: relative;
  opacity: 0;
  transition: all 1s ease;
}
.inicio .intro .revealIntro--left {
  transform: translateX(5em);
}
.inicio .intro .revealIntro--right {
  transform: translateX(-5em);
}
.inicio .intro .revealIntro--active {
  transform: translateX(0);
  opacity: 1;
}
.inicio .garantia {
  text-align: center;
}
.inicio .garantia__title {
  padding: 1.25em 0;
}
.inicio .garantia__content {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .inicio .garantia__content {
    justify-content: space-between;
  }
  .inicio .garantia__content :nth-child(3) {
    margin: auto;
  }
}
@media (min-width: 992px) {
  .inicio .garantia__content :nth-child(3) {
    margin: 0;
  }
}
.inicio .garantia__metal {
  width: 100%;
  padding: 2% 0;
}
@media (min-width: 768px) {
  .inicio .garantia__metal {
    width: 49%;
    padding: 1% 0;
  }
}
@media (min-width: 992px) {
  .inicio .garantia__metal {
    width: 32%;
  }
}
.inicio .garantia__metal__img {
  width: 83.33%;
  box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
}
@media (min-width: 768px) {
  .inicio .garantia__metal__img {
    width: 100%;
  }
}
.inicio .garantia__metal__nombre {
  font-weight: bold;
  padding-top: 3%;
}
.inicio .garantia__text {
  width: 83.33%;
  margin: auto;
  padding-top: 3%;
}
@media (min-width: 768px) {
  .inicio .garantia__text {
    width: 50%;
    padding: 2%;
  }
}
.inicio .trabajos-recientes__title {
  text-align: center;
  padding: 1.25em 0;
}
.inicio .trabajos-recientes__content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1em;
}
@media (min-width: 768px) {
  .inicio .trabajos-recientes__content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .inicio .trabajos-recientes__content {
    grid-template-columns: repeat(3, 1fr);
  }
}
.inicio .trabajos-recientes__img {
  width: 100%;
}
@media (min-width: 992px) {
  .inicio .trabajos-recientes__img {
    cursor: pointer;
    transition: 0.3s;
  }
  .inicio .trabajos-recientes__img:hover {
    filter: brightness(70%);
  }
}
.inicio .trabajos-recientes__openImg {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}
@-webkit-keyframes zoom {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes zoom {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}
.inicio .trabajos-recientes__close-img {
  cursor: pointer;
  color: white;
  position: absolute;
  top: 1.5625em;
  right: 1.875em;
  width: 2.1875em;
}
.inicio .trabajos-recientes__close-img:hover {
  color: #85888C;
}
.inicio .trabajos-recientes__extended-img {
  width: 50%;
  cursor: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
.inicio .trabajos-recientes__extended-img:hover {
  filter: none;
}
@media (min-width: 1200px) {
  .inicio .trabajos-recientes__extended-img {
    width: 33%;
  }
}

.banner-help {
  width: 100%;
  margin-top: 0.875em;
  position: relative;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow-y: hidden;
}
.banner-help__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
  max-height: 21.875em;
  vertical-align: bottom;
}
.banner-help__content {
  width: 83.34%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  text-align: center;
  color: white;
  text-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
}
@media (min-width: 768px) {
  .banner-help__content {
    width: 66.66%;
  }
}
@media (min-width: 992px) {
  .banner-help__content {
    width: 79.8%;
  }
}
.banner-help__title {
  font-size: 1.5em;
  font-weight: 300;
}
@media (min-width: 992px) {
  .banner-help__title {
    width: 66.66%;
    margin: auto;
  }
}
.banner-help__icon {
  width: 3.75rem;
  color: white;
  vertical-align: middle;
  margin-right: 0.3125em;
}
.banner-help__text {
  padding: 0.625em 0;
}
@media (min-width: 992px) {
  .banner-help__text {
    width: 66.66%;
    margin: auto;
  }
}
.banner-help__email {
  color: white;
}

/*Servicios Contenido*/
.servicios {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
@media (min-width: 992px) {
  .servicios {
    width: 79.8%;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .servicios {
    width: 65.8%;
  }
}
.servicios__section-servicio {
  width: 100%;
  margin-bottom: 2.5em;
}
@media (min-width: 992px) {
  .servicios__section-servicio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.servicios__section-servicio__img {
  width: 100%;
}
.servicios__section-servicio__title {
  width: 83.33%;
  margin: auto;
  padding-top: 1.25rem;
}
@media (min-width: 992px) {
  .servicios__section-servicio__title {
    width: 49%;
    text-align: right;
    margin: 0;
  }
}
.servicios__section-servicio__text {
  width: 83.33%;
  margin: auto;
  padding-top: 1.25em;
}
@media (min-width: 992px) {
  .servicios__section-servicio__text {
    width: 49%;
    text-align: left;
    margin: 0;
  }
}
.servicios__banner {
  width: 100%;
  margin-bottom: 2.5em;
  position: relative;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow-y: hidden;
  box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
}
.servicios__banner__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
  max-height: 21.875em;
  vertical-align: bottom;
}
.servicios__banner__container {
  width: 83.34%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  text-align: center;
  color: white;
  text-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
}
@media (min-width: 768px) {
  .servicios__banner__container {
    width: 66.66%;
  }
}
@media (min-width: 992px) {
  .servicios__banner__container {
    width: 79.8%;
  }
}
.servicios__banner__title {
  width: 100%;
  text-align: center;
  font-size: 2em;
  font-weight: 300;
}
@media (min-width: 768px) {
  .servicios__banner__title {
    font-size: 3em;
  }
}
@media (min-width: 992px) {
  .servicios__banner__title {
    width: 66.66%;
    margin: auto;
  }
}
.servicios__banner__link {
  color: white;
}

/*Nosotros Contenido*/
.nosotros {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
@media (min-width: 992px) {
  .nosotros {
    width: 79.8%;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .nosotros {
    width: 65.8%;
  }
}
.nosotros__section {
  width: 100%;
  margin-bottom: 2.5em;
}
.nosotros__section__img {
  width: 100%;
}
.nosotros__section__title {
  width: 83.33%;
  margin: auto;
  padding-top: 1.25em;
}
.nosotros__section__text {
  width: 83.33%;
  margin: auto;
  padding-top: 1.25em;
}
@media (min-width: 768px) {
  .nosotros__section__text {
    text-align: left;
  }
}
@media (min-width: 992px) {
  .nosotros__section__text {
    width: 100%;
    margin: 0;
  }
}

/*Nosotros Contenido*/
.contacto {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
@media (min-width: 992px) {
  .contacto {
    width: 79.8%;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .contacto {
    width: 65.8%;
  }
}
.contacto__section-contacto {
  width: 83.34%;
  display: flex;
  flex-wrap: wrap;
  margin: 3.125em auto 0;
}
@media (min-width: 992px) {
  .contacto__section-contacto {
    width: 100%;
  }
}
.contacto__section-contacto__content {
  width: 100%;
}
@media (min-width: 992px) {
  .contacto__section-contacto__content {
    width: 50%;
  }
}
.contacto__section-contacto__img {
  width: 100%;
  vertical-align: bottom;
}
.contacto__section-contacto__form {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
@media (min-width: 992px) {
  .contacto__section-contacto__form {
    padding-left: 1.25em;
  }
}
.contacto__section-contacto__title {
  padding: 1.25em 0;
}
@media (min-width: 992px) {
  .contacto__section-contacto__title {
    padding: 0;
  }
}
.contacto .screenReader {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.contacto__section-contacto__cell {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.3em;
}
.contacto__section-contacto__input {
  margin: 1.25em 0;
}
@media (min-width: 992px) {
  .contacto__section-contacto__input {
    margin: 0;
  }
}
.contacto__section-contacto__input--text {
  width: 100%;
  height: 3.125em;
  padding: 0 1.25em;
  border: 0.0625em solid #F6F6F6;
}
.contacto__section-contacto__input--text:focus {
  outline: none;
  border: 0.0625em solid #FFBE41;
}
.contacto__section-contacto__input--submit {
  width: 100%;
  height: 3.125em;
  background-color: #FFBE41;
  border: none;
  color: white;
}
@media (min-width: 992px) {
  .contacto__section-contacto__input--submit {
    cursor: pointer;
  }
}
.contacto__section-contacto__textarea {
  width: 100%;
  height: 5.625em;
  resize: none;
  margin: 1.25em 0;
  padding: 1.25em;
  border: 0.0625em solid #F6F6F6;
}
.contacto__section-contacto__textarea:focus {
  outline: none;
  border: 0.0625em solid #FFBE41;
}
@media (min-width: 992px) {
  .contacto__section-contacto__textarea {
    margin: 0;
  }
}
.contacto__section-contacto__privacy-policy {
  width: 100%;
}
.contacto__section-contacto__privacy-policy__text {
  display: inline;
}
.contacto__section-contacto--alert {
  width: 100%;
  color: #f44336;
  text-align: left;
}
.contacto__section-info {
  width: 100%;
  background-image: url("./../img/información_contacto_bg.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  margin: 3.125em 0;
  padding-bottom: 1.875em;
}
@media (min-width: 768px) {
  .contacto__section-info {
    padding-bottom: 5em;
  }
}
.contacto__section-info__title {
  padding: 1.875em 0;
}
.contacto__section-info__container {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .contacto__section-info__container {
    flex-wrap: nowrap;
  }
}
.contacto__section-info__content {
  width: 100%;
}
@media (min-width: 768px) {
  .contacto__section-info__content {
    width: 50%;
    padding-left: 10%;
  }
}
.contacto__section-info__content__p {
  padding: 0.3125em 0;
}
@media (min-width: 768px) {
  .contacto__section-info__content__p {
    text-align: left;
  }
}
.contacto__section-info__rrss {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 1.25em 0;
}
@media (min-width: 768px) {
  .contacto__section-info__rrss {
    width: 80%;
    margin: 0;
  }
}
.contacto__section-maps {
  width: 100%;
  margin-bottom: 3.125em;
}
.contacto__section-maps__title {
  padding-bottom: 1.25em;
}
.contacto__section-maps__map {
  width: 100%;
}/*# sourceMappingURL=index.css.map */