@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@font-face {
  font-family: "Voguer Sans";
  src: local("Voguer Sans Bold"), local("Voguer-Sans-Bold"), url("./fonts/VoguerSans-Bold.woff2") format("woff2"), url("./fonts/VoguerSans-Bold.woff") format("woff"), url("./fonts/VoguerSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/* Colors */
/* $color-whatsapp: #03c100; */
/* Shadows */
/* Content width */
/* width-m is the same as width-s */
/* Reset */
@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
    animation: none !important;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-y: auto;
  font-size: 100%;
  font-family: Inter;
}

img {
  max-width: 100%;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

h3 {
  font-family: Cinzel;
}

form,
input,
textarea,
select,
button,
label {
  font-size: inherit;
  font-family: inherit;
}

/* Icons */
.location {
  vertical-align: bottom;
  width: 1.875em;
  margin-right: 0.3125em;
  color: #EA4335;
}

.phone {
  vertical-align: bottom;
  width: 1.875em;
  margin-right: 0.3125em;
  color: #35EA68;
}

.mail {
  vertical-align: bottom;
  width: 1.875em;
  margin-right: 0.3125em;
  color: #FFBE41;
}

.clock {
  vertical-align: middle;
  width: 1.875em;
  margin-right: 0.3125em;
  color: #35A9EA;
}

/* Social media */
.instagram {
  fill: url(#lgInstagram);
}

.facebook {
  fill: #475993;
}

.twitter {
  fill: #03a9f4;
}

/* Body */
.overflow-y {
  overflow-y: hidden;
}

/* Header*/
.header--relative {
  position: relative;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.1);
}
.header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 83.34%;
}
@media (min-width: 992px) {
  .header .header-content {
    justify-content: space-between;
    width: 79.8%;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .header .header-content {
    width: 65.8%;
  }
}
@media (min-width: 992px) {
  .header .header-content__menu-div {
    display: none;
  }
}
.header .header-content__menu-div--hidden {
  display: none;
}
.header .header-content__empty-div {
  width: 30px;
  height: 34px;
}
@media (min-width: 992px) {
  .header .header-content__empty-div {
    display: none;
  }
}
.header .header-content .logo {
  width: 7.5em;
}
.header .header-content .logo__main {
  margin-top: 0.125em;
  font-size: 1.5625em;
  font-family: Voguer Sans;
  line-height: 1.5625rem;
  text-align: center;
}
.header .header-content .logo__sub {
  margin-top: 0.125em;
  font-size: 0.5em;
  font-family: Inter;
  letter-spacing: 0.5rem;
  text-align: center;
}
.header .header-content .logo__clip {
  -webkit-clip-path: polygon(100% 0, 100% 45%, 9% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 45%, 9% 100%, 0 100%, 0 0);
}
.header .header-content .nav-extended {
  display: none;
}
@media (min-width: 992px) {
  .header .header-content .nav-extended {
    display: block;
  }
}
.header .header-content .nav-extended__ul {
  display: flex;
  gap: 1.5em;
}
@media (min-width: 992px) {
  .header .header-content .nav-extended__li {
    display: inline;
  }
}
@media (min-width: 992px) {
  .header .header-content .nav-extended__link {
    font-size: 0.875em;
  }
  .header .header-content .nav-extended__link:hover {
    color: #85888C;
  }
}
.header .header-content .menu-container {
  display: flex;
  gap: 2em;
  justify-content: center;
  width: 79.175%;
}
.header .header-content .menu-container .menu-icon {
  display: inline-block;
  cursor: pointer;
}
@media (min-width: 992px) {
  .header .header-content .menu-container .menu-icon {
    display: none;
  }
}
.header .header-content .menu-container .menu-icon__bar1, .header .header-content .menu-container .menu-icon__bar2, .header .header-content .menu-container .menu-icon__bar3 {
  width: 1.875em;
  height: 0.125em;
  margin: 0.375em 0;
  background-color: #333;
  transition: 0.4s;
}
.header .header-content .menu-container .correctPosition {
  padding-top: 1.5rem;
}
.header .header-content .menu-container .nav-menu {
  display: none;
  width: 100%;
  padding-top: 0.5rem;
}
.header .header-content .menu-container .nav-menu__li {
  padding: 1.25em;
  border-bottom: 0.0625em solid #85888C;
}
.header .header-content .menu-container .nav-menu__link {
  animation-name: displayLinks;
  animation-duration: 2.5s;
}
@keyframes displayLinks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header .header-content .background-dark {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.header .header-content .display-menu-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 80%;
  height: 100%;
  background-color: white;
  box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.1);
  animation-name: displayMenu;
  animation-duration: 1s;
}
@keyframes displayMenu {
  from {
    left: -37.5em;
  }
  to {
    left: 0;
  }
}
.header .header-content .display-menu-container .menu-icon {
  animation-name: displayIcon;
  animation-duration: 2.5s;
}
@keyframes displayIcon {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header .header-content .display-menu-container .menu-icon__bar1 {
  transform: translate(0, 0.5em) rotate(45deg);
}
.header .header-content .display-menu-container .menu-icon__bar2 {
  opacity: 0;
}
.header .header-content .display-menu-container .menu-icon__bar3 {
  transform: translate(0, -0.5em) rotate(-45deg);
}
.header .header-content .display-menu-container .nav-menu--open {
  display: block;
}
.header .header-content--center {
  justify-content: center;
}
.header .upward_arrow {
  position: fixed;
  right: 1.25em;
  bottom: 3.125em;
  z-index: 1;
  width: 1.875em;
}
@media (min-width: 992px) {
  .header .upward_arrow {
    display: none;
  }
}

/* Footer */
footer {
  width: 100%;
  background-color: #F6F6F6;
}
footer .footer-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5em;
  justify-content: space-between;
  width: 83.34%;
  margin: auto;
  padding: 2.5em 0;
}
@media (min-width: 768px) {
  footer .footer-content {
    flex-wrap: nowrap;
    gap: 0;
  }
}
@media (min-width: 992px) {
  footer .footer-content {
    width: 79.8%;
  }
}
@media (min-width: 1200px) {
  footer .footer-content {
    width: 65.8%;
  }
}
footer .footer-content__div {
  width: 100%;
}
@media (min-width: 768px) {
  footer .footer-content__div {
    padding-right: 2em;
  }
}
footer .footer-content__text {
  padding: 0.3125em 0;
}
footer .footer-content__li {
  padding: 0.3125em 0;
}
footer .footer-content__link:hover {
  color: #85888C;
}
footer .footer-content__info {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin: 0.3125em 0;
}
footer .footer-content__info-content {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  width: 100%;
  margin-top: 0.5em;
}
footer .footer-content__info-text {
  width: 100%;
}
footer .footer-content__rrss {
  display: flex;
  gap: 2em;
  width: 100%;
  margin-top: 0.625em;
}

/* Home */
.hero {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 40vh;
  background-image: url("../img/hero.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0em 0.25em 0.25em rgba(0, 0, 0, 0.25);
}
@media (min-width: 768px) {
  .hero {
    height: 55vh;
  }
}
@media (min-width: 992px) {
  .hero {
    height: 65vh;
  }
}
.hero__title {
  width: 83.34%;
  margin-top: 0.75em;
  color: white;
  font-weight: 300;
  font-size: 2.5em;
  text-shadow: 0.125em 0.25em 0.25em rgba(0, 0, 0, 0.4);
  animation-name: displayH1;
  animation-duration: 2s;
}
@keyframes displayH1 {
  from {
    opacity: 0;
    transform: translateX(5em);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@media (min-width: 768px) {
  .hero__title {
    margin-top: 1.25em;
  }
}
@media (min-width: 992px) {
  .hero__title {
    width: 79.8%;
  }
}
@media (min-width: 1200px) {
  .hero__title {
    width: 65.8%;
  }
}
.hero__link {
  background: linear-gradient(90deg, #FF0000 0%, #FFBE41 30%, #35EA68 60%, #27D8FF 90%, #FFFFFF 150%);
  -webkit-background-clip: text;
          background-clip: text;
  text-shadow: none;
  filter: drop-shadow(0.125em 0.25em 0.25em rgba(0, 0, 0, 0.4));
  -webkit-text-fill-color: transparent;
}

.inicio {
  width: 83.34%;
  margin: auto;
  text-align: center;
}
@media (min-width: 992px) {
  .inicio {
    width: 79.8%;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .inicio {
    width: 65.8%;
  }
}
.inicio__title {
  margin: 2.5em 0;
}
.inicio .intro {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.inicio .intro :nth-child(even) {
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  .inicio .intro :nth-child(even) {
    flex-direction: row;
  }
}
.inicio .intro__content {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 1200px) {
  .inicio .intro__content {
    justify-content: space-between;
  }
}
.inicio .intro__img {
  width: 90%;
  margin: auto;
  aspect-ratio: 11/10;
}
@media (min-width: 768px) {
  .inicio .intro__img {
    width: 58.33%;
  }
}
@media (min-width: 992px) {
  .inicio .intro__img {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .inicio .intro__img {
    width: 40%;
  }
}
.inicio .intro__content-information {
  width: 100%;
  margin: auto 0;
}
@media (min-width: 768px) {
  .inicio .intro__content-information {
    width: 41.66%;
  }
}
@media (min-width: 992px) {
  .inicio .intro__content-information {
    width: 50%;
  }
}
.inicio .intro__content-information__title {
  padding: 1.25em 0;
}
.inicio .intro__content-information__text {
  padding-bottom: 1.875em;
}
.inicio .intro .revealIntro {
  position: relative;
  opacity: 0;
  transition: all 1s ease;
}
.inicio .intro .revealIntro--left {
  transform: translateX(5em);
}
.inicio .intro .revealIntro--right {
  transform: translateX(-5em);
}
.inicio .intro .revealIntro--active {
  opacity: 1;
  transform: translateX(0);
}
.inicio .warranty {
  text-align: center;
}
.inicio .warranty__title {
  padding: 1.25em 0;
}
.inicio .warranty__content {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .inicio .warranty__content {
    justify-content: space-between;
  }
  .inicio .warranty__content :nth-child(3) {
    margin: auto;
  }
}
@media (min-width: 992px) {
  .inicio .warranty__content :nth-child(3) {
    margin: 0;
  }
}
.inicio .warranty__metal {
  width: 100%;
  padding: 2% 0;
}
@media (min-width: 768px) {
  .inicio .warranty__metal {
    width: 49%;
    padding: 1% 0;
  }
}
@media (min-width: 992px) {
  .inicio .warranty__metal {
    width: 32%;
  }
}
.inicio .warranty__metal__img {
  width: 83.33%;
  box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
  aspect-ratio: 25/14;
}
@media (min-width: 768px) {
  .inicio .warranty__metal__img {
    width: 100%;
  }
}
.inicio .warranty__metal__nombre {
  padding-top: 3%;
  font-weight: bold;
}
.inicio .warranty__text {
  width: 83.33%;
  margin: auto;
  padding-top: 3%;
}
@media (min-width: 768px) {
  .inicio .warranty__text {
    width: 50%;
    padding: 2%;
  }
}
.inicio .recent-work__title {
  padding: 1.25em 0;
  text-align: center;
}
.inicio .recent-work__content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1em;
}
@media (min-width: 768px) {
  .inicio .recent-work__content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .inicio .recent-work__content {
    grid-template-columns: repeat(3, 1fr);
  }
}
.inicio .recent-work__img {
  width: 100%;
  aspect-ratio: 1/1;
}
@media (min-width: 992px) {
  .inicio .recent-work__img {
    cursor: pointer;
    transition: 0.3s;
  }
  .inicio .recent-work__img:hover {
    filter: brightness(70%);
  }
}
.inicio .recent-work__openImg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
@keyframes zoom {
  from {
    transform: translate(-50%, -50%) scale(0.5);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}
.inicio .recent-work__close-img {
  position: absolute;
  top: 1.5625em;
  right: 1.875em;
  width: 2.1875em;
  color: white;
  cursor: pointer;
}
.inicio .recent-work__close-img:hover {
  color: #85888C;
}
.inicio .recent-work__extended-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  margin: 0;
  cursor: auto;
  transform: translate(-50%, -50%);
  animation-name: zoom;
  animation-duration: 0.3s;
  aspect-ratio: 1/1;
}
@media (min-width: 1200px) {
  .inicio .recent-work__extended-img {
    width: 33%;
  }
}
.inicio .recent-work__extended-img:hover {
  filter: none;
}

.banner-help {
  width: 100%;
  margin-top: 0.875em;
  padding: 1em 0;
  background-image: url("../img/help.webp");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .banner-help {
    padding: 3em 0;
  }
}
@media (min-width: 992px) {
  .banner-help {
    padding: 4em 0;
  }
}
.banner-help__content {
  width: 70%;
  margin: auto;
  color: white;
  text-align: center;
  text-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
}
@media (min-width: 768px) {
  .banner-help__content {
    width: 66.66%;
  }
}
@media (min-width: 992px) {
  .banner-help__content {
    width: 50%;
  }
}
.banner-help__title {
  font-weight: 300;
  font-size: 1.5em;
}
@media (min-width: 992px) {
  .banner-help__title {
    width: 100%;
    margin: auto;
  }
}
.banner-help__icon {
  vertical-align: middle;
  width: 3.75em;
  margin-right: 0.3125em;
  color: white;
}
.banner-help__text {
  padding: 0.625em 0;
}
@media (min-width: 992px) {
  .banner-help__text {
    width: 100%;
    margin: auto;
  }
}
.banner-help__email {
  color: white;
  word-break: break-word;
}

/* Services */
.services {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}
@media (min-width: 992px) {
  .services {
    gap: 1.5em;
    width: 79.8%;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .services {
    width: 65.8%;
  }
}
.services__section-service {
  width: 100%;
  margin-bottom: 2.5em;
}
@media (min-width: 992px) {
  .services__section-service {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.services__section-service__img {
  width: 100%;
  aspect-ratio: 79/40;
}
.services__section-service__title {
  width: 83.33%;
  margin: auto;
  padding-top: 1.25em;
}
@media (min-width: 992px) {
  .services__section-service__title {
    width: 49%;
    margin: 0;
    padding-top: 1.5em;
    text-align: right;
  }
}
.services__section-service__text {
  width: 83.33%;
  margin: auto;
  padding-top: 1.25em;
}
@media (min-width: 992px) {
  .services__section-service__text {
    width: 49%;
    margin: 0;
    padding-top: 1.5em;
    text-align: left;
  }
}
.services__banner {
  width: 100%;
  margin-bottom: 2.5em;
  padding: 3em 0;
  background-image: url("../img/ask_for_a_quote.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
}
@media (min-width: 576px) {
  .services__banner {
    padding: 4em 0;
  }
}
@media (min-width: 992px) {
  .services__banner {
    padding: 6em 0;
  }
}
.services__banner__container {
  width: 55%;
  margin: auto;
  color: white;
  text-align: center;
  text-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
}
.services__banner__title {
  width: 100%;
  font-weight: 300;
  font-size: 1.75em;
  text-align: center;
  word-break: break-word;
  -webkit-hyphens: auto;
          hyphens: auto;
}
@media (min-width: 768px) {
  .services__banner__title {
    font-size: 2.5em;
  }
}
.services__banner__link {
  color: white;
}

/* About us */
.about-us {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
@media (min-width: 992px) {
  .about-us {
    width: 79.8%;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .about-us {
    width: 65.8%;
  }
}
.about-us__section {
  width: 100%;
  margin-bottom: 2.5em;
}
.about-us__section__img {
  width: 100%;
  aspect-ratio: 79/40;
}
.about-us__section__title {
  width: 83.33%;
  margin: auto;
  padding-top: 1.25em;
}
.about-us__section__text {
  width: 83.33%;
  margin: auto;
  padding-top: 1.25em;
}
@media (min-width: 768px) {
  .about-us__section__text {
    text-align: left;
  }
}
@media (min-width: 992px) {
  .about-us__section__text {
    width: 100%;
    margin: 0;
  }
}

/* Contact */
.contact {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}
@media (min-width: 992px) {
  .contact {
    width: 79.8%;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .contact {
    width: 65.8%;
  }
}
.contact__section-contact {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  width: 83.34%;
  margin: 3.125em auto 0;
}
@media (min-width: 992px) {
  .contact__section-contact {
    flex-wrap: nowrap;
    width: 100%;
  }
}
.contact__section-contact__content {
  width: 100%;
}
@media (min-width: 992px) {
  .contact__section-contact__content {
    width: 50%;
  }
}
.contact__section-contact__img {
  vertical-align: bottom;
  width: 100%;
  aspect-ratio: 79/70;
}
.contact__section-contact__form {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  height: 100%;
}
.contact__section-contact__title {
  width: 100%;
  padding: 1.25em 0;
  text-align: center;
}
@media (min-width: 992px) {
  .contact__section-contact__title {
    padding: 0;
    text-align: left;
  }
}
.contact .screenReader {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.contact__section-contact__cell {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3em;
  width: 100%;
}
.contact__section-contact__input {
  margin: 1.25em 0;
}
@media (min-width: 992px) {
  .contact__section-contact__input {
    margin: 0;
  }
}
.contact__section-contact__input--text {
  width: 100%;
  height: 3.125em;
  padding: 0 1.25em;
  border: 0.0625em solid #F6F6F6;
}
.contact__section-contact__input--text:focus {
  border: 0.0625em solid #FFBE41;
  outline: none;
}
.contact__section-contact__input--submit {
  width: 100%;
  height: 3.125em;
  border: none;
  background-color: #FFBE41;
  color: white;
}
@media (min-width: 992px) {
  .contact__section-contact__input--submit {
    cursor: pointer;
  }
}
.contact__section-contact__textarea {
  width: 100%;
  height: 5.625em;
  margin: 1.25em 0;
  padding: 1.25em;
  border: 0.0625em solid #F6F6F6;
  resize: none;
}
@media (min-width: 992px) {
  .contact__section-contact__textarea {
    margin: 0;
  }
}
.contact__section-contact__textarea:focus {
  border: 0.0625em solid #FFBE41;
  outline: none;
}
.contact__section-contact__privacy-policy {
  width: 100%;
}
.contact__section-contact__privacy-policy__text {
  display: inline;
}
.contact__section-contact--alert {
  width: 100%;
  color: #f44336;
  text-align: left;
}
.contact__section-info {
  width: 100%;
  margin: 3.125em 0;
  padding-bottom: 1.875em;
  background-image: url("./../img/contact_info_bg.webp");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .contact__section-info {
    padding-bottom: 5em;
  }
}
.contact__section-info__title {
  padding: 1.875em 0;
}
.contact__section-info__container {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .contact__section-info__container {
    flex-wrap: nowrap;
  }
}
.contact__section-info__content {
  width: 100%;
}
@media (min-width: 768px) {
  .contact__section-info__content {
    width: 50%;
    padding-left: 10%;
  }
}
.contact__section-info__content__p {
  padding: 0.3125em 0;
}
@media (min-width: 768px) {
  .contact__section-info__content__p {
    text-align: left;
  }
}
.contact__section-info__rrss {
  display: flex;
  gap: 2em;
  justify-content: center;
  width: 100%;
  padding: 1.25em 0;
}
@media (min-width: 768px) {
  .contact__section-info__rrss {
    justify-content: flex-start;
  }
}
.contact__section-maps {
  width: 100%;
  margin-bottom: 3.125em;
}
.contact__section-maps__title {
  padding-bottom: 1.25em;
}
.contact__section-maps__map {
  width: 100%;
  aspect-ratio: 15/4;
}/*# sourceMappingURL=index.css.map */